<nav>
    <div>
        <h1>Blog do Marcos</h1>
        <h2>Desenvolvendo aplicativo</h2>
    </div>
    <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="./about">About page</a></li>
        <li><a href="/blogs/create">New create</a></li>
    </ul>
</nav>