<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node</title>
</head>
<body>
    <h1>Blog do Marcos</h1>
    <h2>Desenvolvendo aplicativo</h2>
    <nav>
        <li><a href="/">Blogs</a></li>
        <li><a href="./about">About page</a></li>
        <li><a href="/blogs/create">New create</a></li>
    </nav>

    <div class="about Content">
        <h6>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed luctus arcu vel turpis volutpat euismod. Aenean consequat ut odio in sollicitudin. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In fringilla vestibulum nibh eu mollis. Nullam in odio molestie, finibus neque at, tristique lacus. Phasellus at ante id ligula lobortis consectetur eget sed tortor. Etiam interdum mi vel arcu ultrices, eget ultrices neque luctus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Etiam sit amet dolor lobortis, cursus nisl sit amet, molestie turpis. Sed molestie velit suscipit elit accumsan ultrices. Etiam suscipit elit sit amet suscipit rhoncus. Suspendisse tincidunt mi non turpis ultrices, quis accumsan nisi malesuada. Nullam id ligula lorem. Proin finibus, leo eget vehicula suscipit, quam nisi tempus neque, non pellentesque leo dui sed erat. Nulla sapien augue, ultrices in turpis scelerisque, tincidunt sodales sem.

Proin hendrerit condimentum pharetra. Nulla non ipsum lacus. Praesent pulvinar sed magna et tempor. Morbi ultricies mollis orci, ac tincidunt est lacinia vel. Etiam nec imperdiet est. Quisque lacinia sapien ut nisl blandit, at vehicula felis vestibulum. Integer nec sem in dui aliquam bibendum. Mauris et felis et ante cursus elementum. Aenean pulvinar dui non mi facilisis consectetur.

Vivamus et dolor venenatis ipsum tincidunt consequat nec eu nunc. Vivamus pretium cursus lectus non sagittis. Aenean in venenatis quam. Nulla facilisi. Duis convallis odio est, vitae vulputate urna lobortis sed. Curabitur eu porttitor est, eget dictum odio. Donec convallis mollis orci, ac ultricies mi tempus non. Aliquam sit amet libero sed ligula molestie fermentum. Integer erat tortor, dignissim ut sodales finibus, auctor ullamcorper orci. Proin sit amet ante non orci suscipit rutrum ut ornare diam. Sed at laoreet metus, nec tristique nisi. Sed pellentesque condimentum tellus eu fringilla. Curabitur lorem erat, dapibus ac sollicitudin et, semper sit amet nibh.

Etiam ullamcorper augue vulputate nisl eleifend, bibendum posuere risus sodales. Duis eu risus vitae elit consequat mattis molestie et magna. Vestibulum tempus auctor sapien, vitae tincidunt nunc dignissim non. In arcu tortor, suscipit at tincidunt vel, bibendum vel ex. Vestibulum et sapien ut velit porta consequat. Donec vitae tellus facilisis, facilisis nisl et, pulvinar enim. Sed quis felis non felis hendrerit sollicitudin ac in felis. Curabitur viverra semper massa, eu sagittis mauris rhoncus in. Nam dictum massa vitae accumsan finibus. Suspendisse in nulla finibus, pellentesque odio sed, dapibus justo. Nunc viverra in sem a volutpat.

Nullam at lacus nibh. Curabitur vehicula varius lacinia. Duis non nunc non ipsum lobortis euismod sit amet quis justo. Cras eget lectus non enim sollicitudin auctor ac euismod ante. Curabitur vestibulum nisi mi, at iaculis urna gravida eu. Donec viverra consequat tempor. Suspendisse sed purus sollicitudin, finibus augue sit amet, aliquam lacus. Nunc eu sem eu neque convallis rutrum. Integer eu cursus sapien. Sed in finibus mauris, placerat venenatis nisl. Integer sed finibus sem. Aliquam bibendum nisl dolor, at accumsan metus auctor nec.
        </h6>
    </div>
</body>
</html>